button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-family: Nunito, Calibri, Arial, sans-serif;
    transition: 0.2s;
}

.wide {
    min-width: 8.5em;
    height: 2.9em;
    border-radius: 23px;
}

.accent {
    background: var(--c-purple02);
    color: white;
}

.bold {
    font-weight: 700;
}

.border {
    color: #8419BB;
    border-color: #8419BB !important;
    border: 1px solid var(--c-accent-purple);
}