@font-face {
    font-family: 'Futura';
    src: url('./Futura.ttf');
}
@font-face {
    font-family: 'Nunito';
    src: url('./Nunito-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Nunito';
    src: url('./Nunito-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('./NunitoSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('./NunitoSans-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Nunito Sans';
    src: url('./NunitoSans-Bold.ttf');
    font-weight: 700;
}
