.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & button {
        margin: 0 0.4em;
    }
}

.button {
    width: 14.5em;
}

.row {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin: 32px 0;
}

.already {
    text-align: center;
    margin-top: 32px;

    & a {
        cursor: pointer;
        color: var(--c-accent-purple);
        font-weight: 700;
    }
}
