/* ChatBody.module.css */

.chat-body {
  overflow-y: auto;
  height: 300px; /* Adjust the height as needed */
  padding: 10px;
  max-width: 30rem!important
}

.message {
  margin-bottom: 10px;
  padding: 16px;
}

.message-sender {
  font-weight: bold;
  margin-bottom: 4px;
}

.me {
  position: relative;
  background: #F4EDF9;
}

.other {
  position: relative;
  background: #F4EDF9;
}

.message-date {
  position: absolute;
  bottom: 5px;

  font-family: Nunito Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #6B6985;

}
