.container {
  justify-content: space-between;
  border-radius: 0px, 0px, 1px, 0px;
  background: linear-gradient(0deg, #E8D8F1, #E8D8F1), linear-gradient(0deg, #F9F7FB, #F9F7FB);
  border-bottom: 1px solid #E8D8F1;
  width: 100%;
}

.avatar {
  margin-left: 15px;
}

.title {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #6B6985;
}
