.buttons {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.button {
    border: 1px solid #D9D9EB;
    width: 116px;
    height: 56px;
    border-radius: 16px;
    background: none;
    outline: none;
    &:active {
        border-color: var(--c-purple02) !important;
    }
}

.or {
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 38px 0;
    &:before,
    &:after {
        content: '';
        display: block;
        width: 172px;
        height: 1px;
        background: #B4BFD1;
        margin: 0 7px;
    }
}

/*${Button}.page-cowiem {*/
/*    margin: 0 auto;*/
/*    display: block;*/
/*    width: 372px;*/
/*}*/
/*`;*/

.already {
    text-align: center;
    margin-top: 32px;

    & a {
        cursor: pointer;
        color: var(--c-accent-purple);
        font-weight: 700;
    }
}