.socialButtons {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.socialButton {
    border: 1px solid #D9D9EB;
    padding: 0.8em 2.7em;
    border-radius: 16px;

    &:active,
    &:hover,
    &:focus {
        border-color: var(--c-purple02) !important;
    }
}

.buttonContinue {
    width: 23em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.or {
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0;

    &:before,
    &:after {
        content: '';
        display: block;
        width: 16em;
        height: 1px;
        background: #B4BFD1;
        margin: 0 7px;
    }
}