.learner {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.pageContent {
    display: flex;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em 8em 2em 3em;
    /*flex-wrap: wrap;*/
    /* justify-content: space-between; */
}

.tabsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.tabButtons {
    display: flex;
    align-items: center;
}

.tab {
    margin: 0 1em;
    box-sizing: content-box;
    border-bottom: 1px solid transparent;
}

.tab.activeTab {
    border-color: #222222;
}

.saveButton {
    padding: 0.5em 2.3em;
    color: #6B6985;
    border: 1px solid #6B6985;
    border-radius: 10em;
}
