.buttonConfirm {
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin: 32px 0;
}

.already {
    text-align: center;
    margin-top: 32px;

    & a {
        cursor: pointer;
        color: var(--c-accent-purple);
        font-weight: 700;
    }
}
