/* Global styles */

@import './reset.css';
@import './assets/fonts/fonts.css';

body {
  margin: 0;
  font-family: 'Nunito Sans', Calibri, Arial, sans-serif;
  color: #321841;
  font-size: 16px;
  background: var(--c-body);
  /*zoom: 1.32; !* TEMP *!*/

  --c-body: #F9F7FB;
  --c-accent-purple: #64108F;
  --c-purple02: #8726B9;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
